workflows/blog-to-social-media.json
{
  "name": "Blog post shared to social media",
  "nodes": [
    {
      "parameters": {
        "content": "## Blog post shared to social media\n\n### How it works\n\n1. A manual trigger starts the run and reads the newest item from your blog's RSS feed.\n2. The article's hero image is downloaded and uploaded to Posta as media.\n3. Your connected social accounts are fetched as publishing targets.\n4. The image and article text are combined into a single post payload.\n5. Posta creates the post and schedules it across the selected networks.\n\n### Setup steps\n\n- [ ] Add your Posta credential (API token) to the Posta nodes\n- [ ] Set the RSS feed URL in the 'RSS Read' node to your blog\n- [ ] In 'Get many social accounts', confirm the accounts you want to publish to\n- [ ] Adjust the schedule time in the 'Schedule a post' node\n\n### Customization\n\nSwap the manual trigger for an RSS or Schedule trigger to publish new posts automatically.",
        "width": 480,
        "height": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -848,
        -288
      ],
      "id": "4e36d194-eb12-48fe-8ffd-09dbc45f5f14",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Fetch latest blog post\n\nStarts the run and reads the newest article from the RSS feed.",
        "width": 496,
        "height": 352,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -288,
        -112
      ],
      "id": "a8f16864-4140-4359-86bb-f3aa5e912fac",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Prepare the article image\n\nDownloads the article's image and uploads it to Posta as media.",
        "width": 432,
        "height": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        -288
      ],
      "id": "cff07305-37a3-4bd8-b7c6-b1b0d9e2e10b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Load target accounts\n\nFetches the connected social accounts to publish to.",
        "width": 240,
        "height": 304,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        496,
        336
      ],
      "id": "c349713b-94a5-4985-9d16-51e00eda3b25",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Compose and schedule the post\n\nCombines image and text, then creates and schedules the post across networks.",
        "width": 896,
        "height": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        944,
        -128
      ],
      "id": "43007709-31a8-4af9-9c38-8ed152ac2d3a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        64
      ],
      "id": "f15e7ec2-775f-4e6b-a455-88ae68553636",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://getposta.app/feed.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        64,
        16
      ],
      "id": "82974bd0-595d-405a-926d-6ee4ad07def8",
      "name": "RSS Read",
      "notes": "Add the link to the RSS feed"
    },
    {
      "parameters": {
        "socialAccountIds": "35",
        "caption": "={{ $json.content }}",
        "additionalFields": {
          "hashtags": "={{ $json.categories[0] }}{{ $json.categories[2] }}",
          "mediaIds": "={{ $('Upload media').item.json.media.id }}"
        },
        "platformConfigurations": {
          "linkedin": {
            "documentTitle": "={{ $json.title }}"
          }
        }
      },
      "type": "n8n-nodes-posta.posta",
      "typeVersion": 1,
      "position": [
        1312,
        -16
      ],
      "id": "a95327e0-ed2b-4154-bf73-e9ec55fb8af3",
      "name": "Create a post",
      "credentials": {
        "postaApi": {
          "id": "B35JRmx3PNisTqmS",
          "name": "Posta account"
        }
      }
    },
    {
      "parameters": {
        "resource": "socialAccount"
      },
      "type": "n8n-nodes-posta.posta",
      "typeVersion": 1,
      "position": [
        544,
        464
      ],
      "id": "969f72c4-be11-45c0-a9a5-3e37f036bff9",
      "name": "Get many social accounts",
      "credentials": {
        "postaApi": {
          "id": "B35JRmx3PNisTqmS",
          "name": "Posta account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media"
      },
      "type": "n8n-nodes-posta.posta",
      "typeVersion": 1,
      "position": [
        608,
        -160
      ],
      "id": "19be590a-a990-4217-be2f-363b87b93702",
      "name": "Upload media",
      "credentials": {
        "postaApi": {
          "id": "B35JRmx3PNisTqmS",
          "name": "Posta account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.enclosure.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        368,
        -160
      ],
      "id": "3dae8df0-04bb-4da6-b3d3-d0381db68ba2",
      "name": "Download article image"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        992,
        -16
      ],
      "id": "c458d1d9-6d69-44fa-b2b4-48153513cc9f",
      "name": "Combine image + article text"
    },
    {
      "parameters": {
        "operation": "schedule",
        "postId": "={{ $json.id }}",
        "scheduledAt": "2026-06-30T00:00:00"
      },
      "type": "n8n-nodes-posta.posta",
      "typeVersion": 1,
      "position": [
        1696,
        -16
      ],
      "id": "af95f8ef-7688-40dd-acaa-8559f1b73978",
      "name": "Schedule a post",
      "credentials": {
        "postaApi": {
          "id": "B35JRmx3PNisTqmS",
          "name": "Posta account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many social accounts",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Download article image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combine image + article text",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Download article image": {
      "main": [
        [
          {
            "node": "Upload media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload media": {
      "main": [
        [
          {
            "node": "Combine image + article text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Schedule a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine image + article text": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "135fcc44-1c2a-4684-a98d-2bdfaa0dd460",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "39a3102487046be4b62efd158285575e7be1bc28455490b873f61de6134af3c2"
  },
  "id": "u2Xp2NaAQa5wkE9H",
  "tags": [
    {
      "updatedAt": "2026-06-02T08:57:53.950Z",
      "createdAt": "2026-06-02T08:57:53.950Z",
      "id": "8rcWTt5CS63KQzEw",
      "name": "socialmedia"
    },
    {
      "updatedAt": "2026-06-02T09:01:25.831Z",
      "createdAt": "2026-06-02T09:01:25.831Z",
      "id": "8xBogo6fq3RQfLdT",
      "name": "autopost"
    },
    {
      "updatedAt": "2026-06-02T08:57:45.531Z",
      "createdAt": "2026-06-02T08:57:45.531Z",
      "id": "E2V7Vb6mVjkhPHEs",
      "name": "blog"
    },
    {
      "updatedAt": "2026-06-02T09:01:40.639Z",
      "createdAt": "2026-06-02T09:01:40.639Z",
      "id": "ESvKanJ6OwKaH6u4",
      "name": "posta"
    }
  ]
}
